:root {
    --bg-l: 248, 249, 250;
    --bg-p: 5;
}

/*Page top*/

[page-welcome="true"] {
    width: 100%;
    height: 625px;
    background-image: url("../assets/map-image.png");
    background-color: black;
    color: white;
    border-radius: 10px;
}

[title-type="welcome"] {
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-30%, -40%);
    font-size: 100px;
    text-align: center;
}

[title-type="welcome-description"] {
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-40%, -45%);
    font-size: 80px;
    text-align: center;
}

[btn-type="tell-me-more"] {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-80%, -50%);
    width: 140px;
    height: 90px;
    background: yellow;
    font-size: 20px;
    border-radius: 2px;
    border: 2px solid black;
    outline: none;
    color: black;
    transition: 0.5s;
}

[btn-type="tell-me-more"]:hover {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-80%, -50%);
    width: 140px;
    height: 90px;
    background: yellow;
    opacity: 75%;
    font-size: 20px;
    border-radius: 2px;
    color: black;
    border: 2px solid black;
    outline: none;
}

[btn-type="tell-me-more"]:focus {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-80%, -50%);
    width: 140px;
    height: 90px;
    background: yellowgreen;
    opacity: 80%;
    font-size: 20px;
    border-radius: 2px;
    color: black;
    border: 2px solid black;
    outline: none;
}

[btn-type="tell-me-more"] a {
    color: black;
    text-decoration: none;
}

/*About*/

[about] {
    transition: step-start;
    margin-top: 20px;
    background-color: rgba(var(--bg-l), var(--bg-p)) !important;
    width: 100%;
    height: 625px;
}